/* .div1 {
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, grey 0%, white 10%);
    height: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.popcorn-icon {
    position: relative;
    top: 3px;
    left: 15px;
    width: 70px;
    height: 70px;
    
}
.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgba(230,0,35, 0.788);
    font-weight: 550;
    top: 10px;
}
.icons {
    width: 17px;
    height: 17px;
}
.relative {
    position: relative;
    left: 30px;
}
.searchicon {
    top: 36px;
    left: 120px;
    padding: 7.5px;
    background-color: rgba(128, 128, 128, 0.08);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;

}
.border {
    /* border-color: rgba(230,0,35, 0.788); */
    /* border-width: 1pt;
    border-color: gray;
    
}
.searchbox {
    position: relative;
    top: 25px;
    left:116px;
    height: 32px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.08);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ul-header {
    list-style-type: none;
    margin-left: 110px;
}
.each-li {
    border-radius: 10px;
    margin: 5px;
   margin-top: 17px;
   height: 30px;
   box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   border-color:rgba(230,0,35, 0.788);
   text-transform: uppercase;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    color: rgba(230,0,35, 0.788);
    font-weight: bold;
}
li:hover {
    transform: scale(1.05);
    background: linear-gradient(  white 0%, white 80%, rgba(230,0,35, 0.788) 100%);
    
}  */
.mid {
    width: 1200px;
    position: static;
    margin-left: auto;
    margin-right: auto;
}
.margin-top-105 {
    margin-top: 105px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.each-div {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.tape-div-size1 {
    width: 25px;
    height: 20px;
}
.tape-div-size2 {
    width: 145px;
    height: 50px;
    margin-top: none;
    margin-bottom: none;
    display: flex;
    flex-direction: column;
}
.criteria {
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.dark-blue {
     background-color: rgba(230, 0, 35, 0.6); 
}
button {
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
}

.poster {
    height: 300px;
    width: 360px;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
}
.poster-img {
    height: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.div-info {
    padding-right: none;
    padding-left: 30px;
    margin: none;
    flex-wrap: wrap;
}
.img-spiderman-poster {
    width: 600px;
    height: 820px;
    border-radius: 20px;

}
.video {
    position: relative;
    top: 50px;
    left: 50px;
}